<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnPhpunitDeprecations="true"
         failOnPhpunitDeprecation="true"
         failOnRisky="true"
         failOnWarning="true"
         warnWhenPhpIsNotConfiguredForDevelopment="true">
    <testsuites>
        <testsuite name="default">
            <directory>creational/singleton/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="-1"/>
    </php>

    <source ignoreIndirectDeprecations="true" restrictNotices="true" restrictWarnings="true">
        <include>
            <directory>creational/singleton/src</directory>
        </include>
    </source>
</phpunit>
